{% if site.social-network-links %}
<ul class="list-inline text-center footer-links">

  {%- for network in site.social-network-links -%}

    {%- if network[0] == "facebook" -%}
    <li class="list-inline-item">
      <a href="https://www.facebook.com/{{ network[1] }}" title="Facebook" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Facebook</span>
      </a>
    </li>
    {%- endif -%}

    {%- if network[0] == "instagram" -%}
    <li class="list-inline-item">
      <a href="https://www.instagram.com/{{ network[1] }}" title="Instagram" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Instagram</span>
      </a>
    </li>
    {%- endif -%}

    {%- if network[0] == "youtube" -%}
    <li class="list-inline-item">
      <a href="https://www.youtube.com/{{ network[1] }}" title="YouTube" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">YouTube</span>
      </a>
    </li>
    {%- endif -%}

    {%- if network[0] == "spotify" -%}
    <li class="list-inline-item">
      <a href="https://open.spotify.com/artist/{{ network[1] }}" title="Spotify" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-spotify fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Spotify</span>
      </a>
    </li>
    {%- endif -%}

    {%- if network[0] == "itunes" -%}
    <li class="list-inline-item">
      <a href="https://music.apple.com/us/artist/{{ network[1] }}" title="iTunes" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-music fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">iTunes</span>
      </a>
    </li>
    {%- endif -%}

    {%- if network[0] == "tiktok" -%}
    <li class="list-inline-item">
      <a href="https://www.tiktok.com/{{ network[1] }}" title="TikTok" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fab fa-tiktok fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">TikTok</span>
      </a>
    </li>
    {%- endif -%}

    {%- if network[0] == "email" -%}
    <li class="list-inline-item">
      <a href="mailto:{{ network[1] }}" title="Email me" target="_blank">
        <span class="fa-stack fa-lg" aria-hidden="true">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        <span class="sr-only">Email me</span>
      </a>
    </li>
    {%- endif -%}

  {% endfor %}

</ul>
{% endif %}
